{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>EasShipp.in</title><link rel = "icon" href ="{% static 'images/green.png' %} "type = "image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.35">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style12.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
<style>

.input100 {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .inputdesc {
            width: 100%;
            height: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
.dropbtn {
  background-color: #FFFFFF;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #03A84E;}
     .divv {
            float: right;

  background-color: lightgrey;
  width: 400px;
  border: 1px solid green;
  padding: 30px;

  margin: 0px;
}

		</style>
  </head>
  <body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
					<div class="top-navbar">
						<nav class="navbar navbar-expand-lg ">
  <a class="" href="{% url 'partner_company:partner_company_home' %}"><img src="{% static 'images/green.png' %} " width="60" height="60"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">




	<ul class="navbar-nav ml-auto">



	  <li class="nav-item">
          <a class="nav-link" href="{% url 'partner_company:ManageDriver' %}"><b>Manage Driver</b></a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'partner_company:ManageTruck' %}"><b>Manage Transportation</b></a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/refer"><b>Refer&Earn</b></a>
      </li>
        <li class="nav-item">
            <div class="dropdown"><button class="dropbtn nav-link" style="color:black;"><b>Shipments</b></button>
            <div class="dropdown-content">
                <a class="nav-link" href="{% url 'partner_company:SavedJobs' %}">Saved</a>
                <a class="nav-link" href="{% url 'partner_company:AppliedJobs' %}">Applied</a>
                <a class="nav-link" href="{% url 'partner_company:PresentShip' %}">On Going Shipment</a>
                <a class="nav-link" href="{% url 'partner_company:PastShipment' %}">Past Shipment</a>
            </div>
            </div></li>
         <li class="nav-item">
<div class="dropdown">
  <button class="dropbtn">{% if cp.company_logo %}<img src="{{cp.company_logo.url}}">{% else %}<img src="{% static 'images/profile/avatar.png' %}">{% endif %}</button>
  <div class="dropdown-content">
    <a href="{% url 'partner_company:profile' %}">My Profile</a>

    <a href="{% url 'partner_company:logout' %}">Log Out</a>
  </div>
</div>
         </li>


	 </ul>

  </div>
</nav>
					</div>
				</div>
			</div>
		</div>

	</header>
  {% if message %}
  {{message}}
  {% endif %}
    {% if messages %}
<div class="alert alert-success" role="alert">

<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

</div>
    {% endif %}
<section class="job-portal">

<div class="col-md-12">
				<div class="heading">
					<h3>Add New <span>Vehicle</span></h3>

                </div></div>
	<div class="container">


		<div class="row">


  <div class="col-md-10 col-12" >
				<div class=""><form class="form-horizontal" method="POST" action="">
{% csrf_token %}
  <label style="font-size: 20px;">{{form.type_of_transport.label}}</label>


        <div class="input-group">
            {{form.type_of_transport}}
        </div>

  <label style="font-size: 20px;">{{form.transport_no_plate.label}}</label>


        <div class="input-group">
            {{form.transport_no_plate}}
        </div>





<br>
<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-success">Create</button>
    </div>
</div>
</form>
                </div>
  </div>
        </div>
    </div>
</section>
<footer class="bg-dark " style="margin-top: 10px;">
                <div class="container" style="    max-inline-size: inherit;padding-top: 20px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="/static/images/" style=" " alt="" width="50" class="mb-3">
                            <p class="font-italic" style="color: white;">Get Shipper for your Shipments !!<br> Tell us what Shipment you want to complete</p>
                            <ul class="list-inline mt-4">
                                <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i style="font-size: xx-large;    color: #00ddf3;" class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i style="font-size: xx-large;color: #007eff;" class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i style="font-size: xx-large;color: #f704d9;" class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i style="font-size: xx-large;color: #f70404;" class="fa fa-pinterest"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i style="font-size: xx-large;color: #1e04f7;" class="fa fa-vimeo"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                            <h6 class="text-uppercase font-weight-bold mb-4" style="color:white">Account</h6>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="{% url 'user:Login' %}" class="text" style="color: white;">Login</a></li>
                                <li class="mb-2"><a href="{% url 'partner_company:partner_company/register' %}" class="text" style="color: white;">Shipper Register</a></li>
                                <li class="mb-2"><a href="{% url 'customer:customer/register' %}" class="text" style="color: white;">Customer Register</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                            <h6 class="text-uppercase font-weight-bold mb-4" style="color:white">Company</h6>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="#" class="text" style="color: white;">About Us</a></li>
                                <li class="mb-2"><a href="#" class="text" style="color: white;">Contact Us</a></li>
                                <!-- <li class="mb-2"><a href="#" class="text-muted">Wishlist</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li> -->
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-lg-0">

                            <img src="{% static 'images/green.png' %} " width="75" height="75">
                        </div>
                    </div>
                    <!-- Copyrights -->

                </div>


            </footer>
{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

{% endblock %}
</body>
</html>
