{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>EasShipp.in</title><link rel = "icon" href ="{% static 'images/green.png' %} "type = "image/x-icon">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.35">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style12.css'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
       <!-- THIS LINE -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="https://kit.fontawesome.com/5a2b925216.js" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .dropbtn {
  background-color: #FFFFFF;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #03A84E;}


</style>
  </head>
  <body>


    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="top-navbar">
                        <nav class="navbar navbar-expand-lg ">
                            <a class="" href="{% url 'customer:customer_home' %}"> <img src="{% static 'images/green.png' %} " width="60" height="60"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">



                                <ul class="navbar-nav ml-auto">

                                    <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'customer:job_post' %}"><b>Add New Shipment</b></a>

                                    </li>
                                    <!--	  <li class="nav-item">-->
                                    <!--        <a class="nav-link" href="#">Resume</a>-->
                                    <!--      </li>-->
<li class="nav-item">
            <a class="nav-link" href="/refer"><b>Refer&Earn</b></a>
      </li>

                                    <li class="nav-item">
                                        <div class="dropdown">
                                            <button class="dropbtn"><img src={{cp.company_logo.url}}></button>
                                            <div class="dropdown-content">
                                                <a href="{% url 'customer:profile' %}">My Profile</a>
                                                <a href="{% url 'customer:logout' %}">Log Out</a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </header>
       <section class="job-portal all-jobs">
	<div class="container main-wid">
		<div class="row">
			<div class="col-md-10 col-12 mx-auto">
				<div class="heading">
					<h3>{{job.job_title}}</h3>
				</div>
			</div>

			<div class="col-md-10 col-12 mx-auto">
				<div class="heading-action">
					<ul class="list-inline">
						<li>Action <span>Taken</span></li>
                        <li><a href="{% url 'customer:view_applied_candidate' job.pk %}" style="color: green;">Applied Shippers</a>  </li>
                        <li><a href="{% url 'customer:shortlist_view_applied_candidate' job.pk %}"style="color: green;">Shortlisted Shippers</a></li>
						

					</ul>
				</div>
			</div>





    {% for c in candidate %}


   <div class="col-md-10 col-12 mx-auto">
{% if c.2.is_shortlisted %}
    {% elif c.2.is_disqualified %}
       
				<div class="job-right all-job-rights">
					<div class="job-right-jobs">
          
					<!-- <input type="checkbox" placehlder="check"> -->

<div class="col-md-10 col-12 mx-auto">
						<div class="job-right-jobs-image">

						<img src={{c.0.company_logo.url}}>
						<div class="jobs-main">
            
							<div class="text-jobs">
                                <h5>{{c.0.company_name}}</h5>
                              <h3>{{c.1.first_name}} {{c.1.last_name}}</h3>
                              


                
							</div>
              

              
                            </div>
					</div>
          
               <div class="info">
							<div class="info-left">
								<ul class="list-inline">
                           	<li>Email ID: <span>{{c.1.username}}</span></li>
									<li> Phone no. : <span>{{c.0.phone}}</span></li>
									<li>Bid Placed: <span>{{c.2.Bid_amount}}</span></li>
									<li>Shipment will be done in :  <span>{{c.2.complete_in}}(days)</span></li>
                                    <li>Total shipment done:  <span>{{c.3}} </span></li>
                                    <li>Rating:  <span>{{c.4}} </span></li>

								</ul>
                
							</div>
                  
						</div>
            </div>

            



<div class="download">
                                <a class="btn btn-success" href="{% url 'customer:select' c.2.pk %}" role="button">Select</a>
                                <a class="btn btn-outline-success  " href="{% url 'customer:shortlist' c.2.pk %}" role="button">Shortlist</a>
                                <!-- <a class="btn btn-outline-danger" href="{% url 'customer:disqualify' c.2.pk %}" role="button">Reject</a> -->


    
</div>





</div>

{% elif c.2.is_selected %}
Already Selected
    {% else %}



    {% endif %}
                    </div>


       </div>

                    {% endfor %}





			</div>
	</div>
</section>

<!-- skills model -->


<footer class="bg-dark " style="margin-top: 10px;">
                <div class="container" style="    max-inline-size: inherit;padding-top: 20px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="/static/images/" style=" " alt="" width="50" class="mb-3">
                            <p class="font-italic" style="color: white;">Get Shipper for your Shipments !!<br> Tell us what Shipment you want to complete</p>
                            <ul class="list-inline mt-4">
                                <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i style="font-size: xx-large;    color: #00ddf3;" class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i style="font-size: xx-large;color: #007eff;" class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i style="font-size: xx-large;color: #f704d9;" class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i style="font-size: xx-large;color: #f70404;" class="fa fa-pinterest"></i></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i style="font-size: xx-large;color: #1e04f7;" class="fa fa-vimeo"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                            <h6 class="text-uppercase font-weight-bold mb-4" style="color:white">Account</h6>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="{% url 'user:Login' %}" class="text" style="color: white;">Login</a></li>
                                <li class="mb-2"><a href="{% url 'partner_company:partner_company/register' %}" class="text" style="color: white;">Shipper Register</a></li>
                                <li class="mb-2"><a href="{% url 'customer:customer/register' %}" class="text" style="color: white;">Customer Register</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                            <h6 class="text-uppercase font-weight-bold mb-4" style="color:white">Company</h6>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="#" class="text" style="color: white;">About Us</a></li>
                                <li class="mb-2"><a href="#" class="text" style="color: white;">Contact Us</a></li>
                                <!-- <li class="mb-2"><a href="#" class="text-muted">Wishlist</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li> -->
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-lg-0">

                            <img src="{% static 'images/green.png' %} " width="75" height="75">
                        </div>
                    </div>
                    <!-- Copyrights -->

                </div>


            </footer>

<style>
ul#menu li {
  display:inline;
}
#spacer {
padding: 21px;

}


.menu-text{
  font-size: 0.7em;

}
.download{
  margin-top: 4px;

}
.btm{
position:absolute;
bottom:10px;
}


.bgcolor {
  min-height: 320px;
  float: right;
  background-color: #ced4da;
}

.job-right-jobs{
box-shadow:0px;
padding:5px;
}
*{
box-sizing:unset;
}
.job-right.all-job-rights .job-right-jobs {
    padding: 0px 0px 0px 0px;
}

.card-header{
background-color:#ced4da;
}



</style>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>